<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a style="margin-right: 100px;" class="navbar-brand" href="#"><strong>ECommerce</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item  btn-secondary" style="margin-right: 50px; background-color: white;">
                    <a class="btn btn-secondary active" aria-current="page" href="/sellers/addProduct">Add New Produck</a>
                </li>
                <!-- <li class="nav-item" style="margin-right: 50px; background-color: white;">
                    <a class="nav-link active" aria-current="page" href="/incubators/add">Add New Incubator</a>
                </li>
                <li class="nav-item" style="margin-right: 50px; background-color: white;">
                    <a class="nav-link active" aria-current="page" href="/startUp">Start-Up</a>
                </li> -->
            </ul>
            <!-- <form method="get" action="/" class="d-flex" role="search">
                <input style="width: 400px;" class="form-control me-2 btn-outline-success" type="search" placeholder="Search by name" aria-label="Search" name="name">
                <input style="width: 400px;" class="form-control me-2" type="search" placeholder="order by age" aria-label="Search" name="age">
                <button  style="border-radius: 5px; background-color:   #cbc9ce;; border-color:  #cbc9ce;; padding: 5px 10px;"  type="submit">Search</button>
            </form> -->
        </div>
    </div>
</nav>